body {
    margin: 0;
    padding: 0;
}

table th {
    background-color: #ffdfdf;
    padding: 10px 20px;
}

table td {
    background-color: #f1c8c861;
    padding: 10px 20px;
}
 
h1{
    background-color: #c52f24;
    color:white;
    margin: 0px;
    padding: 10px;
}

ul{
    list-style:none;
}